[submodule "Software/GuitarPedal/DaisySP"]
	path = Software/GuitarPedal/DaisySP
	url = https://github.com/electro-smith/DaisySP.git
[submodule "Software/GuitarPedal/libDaisy"]
	path = Software/GuitarPedal/libDaisy
	url = https://github.com/electro-smith/libDaisy.git
[submodule "Software/GuitarPedal/AudioDSPTools"]
	path = Software/GuitarPedal/AudioDSPTools
	url = https://github.com/sdatkinson/AudioDSPTools.git
